<div class="container">
   <h1 class="text-center text-primary fw-light">Top Coffees</h1>
  <div class="d-flex justify-content-end pe-4">
    <% if user_signed_in? %>
      <p> <%= link_to "View all coffees", coffees_path %></p>
    <%else %>
      <p> <%= link_to "Sign in to view more coffees!", coffees_path %></p>
    <% end %>
  </div>
  <div class="row">
    <% if @coffees.any? %>
      <% @coffees.each do |coffee| %>
        <%= render "/coffees/coffee_card", coffee: coffee %>
      <% end %>
    <% else %>
      <p>No coffees yet!</p>
    <% end %>
  </div>
</div>
