<h1>Pages#home</h1>
<p>Find me in app/views/pages/home.html.erb</p>
<% if user_signed_in? %>
  <h6>Welcome <%= current_user.first_name %></h6>
  <% else %>
  <h6>Please sign in </h6>
<% end %>
<%= link_to "Log In", new_user_session_path %>
<%= link_to "Sign Up", new_user_registration_path %>

<div class="navbar navbar-expand-sm navbar-light navbar-lewagon">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">
      <img src="https://media.istockphoto.com/id/1154395849/vector/coffee-bean-icon.jpg?s=612x612&w=0&k=20&c=JqxRR6Qzy89-j-y7iRPerCmNGeh-uJw8l0Lv3Y0P2ho=" />
    </a>

    <form novalidate="novalidate" class="simple_form search" action="/" accept-charset="UTF-8" method="get">
      <div class="search-form-control form-group">
        <input class="form-control string required" type="text" name="search[query]" id="search_query" />
        <button name="button" type="submit" class="btn btn-flat">
          <i class="fas fa-search"></i> Search
        </button>
      </div>
      </form>

    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto">
          <li class="nav-item active">
            <a class="nav-link" href="#">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Messages</a>
          </li>
            <li class="nav-item">
            <a class="nav-link" href="#">Post a Coffee</a>
          </li>
          <li class="nav-item dropdown">
            <img class="avatar dropdown-toggle" id="navbarDropdown" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false" src="https://kitt.lewagon.com/placeholder/users/ssaunier" />
            <div class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarDropdown">
              <a class="dropdown-item" href="#">My Profile</a>
              <a class="dropdown-item" href="#">My Favorites</a>
              <a class="dropdown-item" href="#">Purchases</a>
              <a class="dropdown-item" data-turbo-method="delete" href="#">Log out</a>
            </div>
          </li>
          <!--li class="nav-item"-->
          <!--/li-->
      </ul>
    </div>
  </div>
</div>

<div class="container">
  <div class="row">
    <% 4.times do %>
      <div class="col-3">
        <div class="coffee-card">
          <img src="https://media.istockphoto.com/id/1349239413/photo/shot-of-coffee-beans-and-a-cup-of-black-coffee-on-a-wooden-table.jpg?s=612x612&w=0&k=20&c=ZFThzn27DAj2KeVlLdt3_E6RJZ2sbw2g4sDyO7mYvqk=" />
          <div class="coffee-card-infos">
            <div>
              <h2>Coffee Name</h2>
              <h2 class="coffee-card-pricing">£99.99</h2>
              <p>Seller Name </p>
              <img src="https://kitt.lewagon.com/placeholder/users/krokrob" class="coffee-card-user avatar-bordered" />
              <button class="info-button" type="button">More information</button>
              <button class="info-button" type="button">Request</button>
            </div>
          </div>
        </div>
      </div>
    <% end %>
  </div>
</div>


<div class="footer">
  <div class="footer-links">
    <a href="#"><i class="fab fa-github"></i></a>
    <a href="#"><i class="fab fa-instagram"></i></a>
    <a href="#"><i class="fab fa-facebook"></i></a>
    <a href="#"><i class="fab fa-twitter"></i></a>
    <a href="#"><i class="fab fa-linkedin"></i></a>
  </div>
  <div class="footer-copyright">
    This footer is made with <i class="fas fa-heart"></i> at Le Wagon
  </div>
</div>
