.coffee-card {
  overflow: hidden;
  background: white;
  box-shadow: 0 0 15px rgba(0,0,0,0.1);
  border-radius: 8px;
  margin: 15px;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

.coffee-card > img {
  height: 200px;
  width: 100%;
  object-fit: cover;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
}

.coffee-card h2 {
  font-size: 18px;
  font-weight: bold;
  margin: 0;
}

.coffee-card p {
  font-size: 16px;
  opacity: .7;
  margin: 8px 0;

}

.coffee-card .coffee-card-infos {
  padding: 16px;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  position: relative;
}

.coffee-card-infos .coffee-card-user {
  position: absolute;
  right: 16px;
  top: -20px;
  width: 40px;
  border: 2px solid white;
  border-radius: 50%;
}

.info-button {
  text-decoration: none;
  /* display: inline-block; */
  /* font-size: 12px; */
  border-radius: 8px;
  /* margin: 10px; */
  /* height: 9px; */
  width: 100%;
  color: white;
  background-color: #B0926A;
}

.info-button:hover {
  color: white;
  background-color: #706233;
}

#btn-brown {
  background-color: #B0926A;
  color: white;
  width: 100%;
  border: none;
  }

#btn-brown:hover {
  background-color:  #7D664E;
}

.btn-blue {
  background-color: lightblue !important;
  color: white;
  width: 40%;
  border: none;

 }
.container-buttons {
  display: flex;
  justify-content: space-between;
}
