.navbar-lewagon {
  justify-content: space-between;
  background: white;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
  // flex-basis: content;
}

.navbar-lewagon .navbar-brand img {
  width: 40px;
}
#navbar-logo {
  width: 75px;
}
.footer-logo {
  width: 200px;
}

.navbar {
  padding: 0;
}
