// Graphical variables
@import "config/fonts";
@import "config/colors";
@import "config/bootstrap_variables";

// External libraries
@import "bootstrap";
@import "font-awesome";

// Your CSS partials
@import "components/index";
@import "pages/index";
@import "components/show";
@import "components/form";

@import "components/purchase_index";
@import "components/map";
@import "components/info_window";


body {
  background-color: #fae7c99b;
  color: $primary;
}

.title-text {
  max-width: 100%;
}

.title-size {
  font-size: 5rem;
  font-weight: bolder;
  letter-spacing: 0.3px;
  text-shadow: 1px 1px 5px $danger;
}

.motto-size {
  font-size: 2rem;
  letter-spacing: 0.3rem;
  text-shadow: 1px 1px 10px $danger;
}

.video-container {
  max-width: 100%;
}

.fit-image {
  border-radius: 8px;
  width: 90vw;
  height: 450px;
}
