<%# <div class="navbar navbar-expand-sm navbar-light navbar-lewagon m-4">
  <div class="container-fluid">



    <a class="align-items-center navbar-brand text-align d-flex" href="#">
      <img class="avatar" id="navbar-logo" src="https://1000logos.net/wp-content/uploads/2022/09/Stars-Coffee-Logo.jpg" />
      <h4 class="m-3"><strong>Stars Coffee</strong></h4>
    </a>

    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>



    <form novalidate="novalidate" class="simple_form search" action="/" accept-charset="UTF-8" method="get">

      <div class="search-form-control form-group d-flex">
        <input class="form-control string required h-25" type="text" name="search[query]" id="search_query" />
        <button name="button" type="submit" class="btn btn-flat">
          <i class="fas fa-search"></i>
        </button>
      </div>
    </form> %>








<%#

  </div>
</div> %>




<nav class="navbar navbar-expand-lg navbar-white bg-white">

  <div class="container-fluid">

    <a class="align-items-center navbar-brand text-align d-flex" href="#">
      <img class="avatar" id="navbar-logo" src="https://1000logos.net/wp-content/uploads/2022/09/Stars-Coffee-Logo.jpg" />
      <h4 class="m-3"><strong>Stars Coffee</strong></h4>
    </a>

    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">

      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="#">Home</a>
        </li>


        <li class="nav-item">
          <a class="nav-link" href="#">Coffees</a>
        </li>

        <li class="nav-item">
          <a class="nav-link" href="#">Community</a>
        </li>

      <div class="collapse navbar-collapse" id="navbarSupportedContent">

      <% if user_signed_in? %>

        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            Profile
          </a>
          <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
            <li><a class="dropdown-item" href="#">My Coffees</a></li>
            <li><a class="dropdown-item" href="#">Favorites</a></li>
            <li><a class="dropdown-item" href="#">Messages</a></li>
            <li><a class="dropdown-item" href="#">Purchases</a></li>

            <li><hr class="dropdown-divider"></li>
            <li><a class="dropdown-item" href="#">Log out</a></li>
          </ul>
        </li>
            <!--li class="nav-item"-->
            <!--/li-->

        <ul class="navbar-nav me-auto">
          <li class="nav-item active">
            <a class="nav-link m-2" href="#">Log out</a>
          </li>

        </ul>


      <% else %>
        <ul class="navbar-nav me-auto">
          <li class="nav-item">
            <%= link_to "Log In", new_user_session_path, class: "nav-link m-2" %>
          </li>
          <li class="nav-item">
            <%= link_to "Sign Up", new_user_registration_path, class: "nav-link m-2" %>
          </li>
        </ul>
      <% end %>


    </div>



      </ul>

      <form class="d-flex">
        <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
        <button class="btn btn-outline-secondary" type="submit">Search</button>
      </form>

    </div>
  </div>
</nav>
